body {
  background-color: rgb(230, 206, 160);
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}

.cookieContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 800px;
  height: 600px;

  background-color: saddlebrown;
  border: outset 10px rgb(255, 208, 0);
  border-radius: 20px;
}

.upgradeContainer
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  width: 800px;
  height: 600px;

  background-color: saddlebrown;
  border: outset 10px rgb(255, 208, 0);
  border-radius: 20px;
}

.upgradeContainer button
{
  border-radius: 25px;
  border: solid black 2px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 200ms ease-in-out;
}

.upgradeContainer button:hover
{
  background-color: rgba(255, 255, 255, 1);
}

.upgrades {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 75px;
}

.upgradeText 
{
  display: flex;
  flex-direction: column;
  margin-left: 50px;

  font-size: 10px;
}

.upgradeImg
{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 2px solid;
}

.cookieButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: transparent;
  background: transparent;
  margin-top: 200px;
}

.cookieButton:active {
  position: absolute;
  width: 150px;
  height: 150px;
  transition: 80ms ease-in-out;
}

#cookieImg {
  position: absolute;
  height: 100%;
  width: 100%;
}

.textMargin
{
  margin-bottom: 200px;
}